body{}
.header {
	height: 600px;
	background-size: cover;
}
.header a {
	font-size: 24pt;
	color: #fff;
	margin-top: 50px;
	margin-left: 50px;
	display: block;
	text-transform: uppercase;
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000040;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}
.gallery img {
	width: 100%;	
}
.gallery div {
	padding: 0;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:auto;
    margin-right:auto;
}


.menulist {
    width:200px;
}


.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:17px;
    padding-bottom:17px;
    text-decoration: none;
    list-style:none; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;	
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}
.l{
	font-size:80px;
	position: absolute;
    top: 400px;
    left: 150px;
	width:200px;
	color:white;
	font-family: 'Indie Flower', cursive;
	
   
}
.section {
	margin:  0;

		
}

.square-blocks div{
	height: 250px;
}

.square-blocks .light-gray-bg {
	background-color: #F0F0F0;
}

.square-blocks .dark-gray-bg {
	background-color: #E0E0E0;
}

.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18pt;
	text-transform: uppercase;
	font-family: 'Indie Flower', cursive;
}
.square-blocks span {
	font-size: 52pt;

}

.square-blocks a {
	color: #000;
}
.square-blocks a:hover {
	color: #F1C40F;
	text-decoration: none;
}
.section h1 {
	font-size: 24pt;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
}
h1 {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}


.about-me-image {
	padding-left: 0;
}

.about-me-text h1{
	text-align: left;
}

.about-me-text p {
	font-size: 25pt;
	margin-bottom: 20px;
	font-family: 'Indie Flower', cursive;
	
}
.contact-form {	
	background-color: #F1C40F;
	padding: 100px;
}
.contact-form h1 {
	font-size: 24pt;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.form-control {
	height: 45px;
	border-radius: 0;
	border: 1px solid #000;
}
.form-control::placeholder {
	color: #000;
}
.btn, .btn:hover {
	padding: 15px 25px;
	background-color: #000;
	color: #fff;
	border-radius: 0;
}
.btn-default {
	border: 0;
}

@media screen and (max-width:760px) {
	.contact-form {
		padding: 30px;
	}
}
.footer {
	height: 400px;
	background: url('img/pe3.jpg') no-repeat;
	background-size: cover;
}
.footer img {
	margin: 100px 0 0 100px;
}	
.footer ul {
	margin-top: 100px;
	float: right;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	color: #fff;
	font-size: 22pt;
	font-family: 'Indie Flower', cursive;
	padding-left: 70px;
	padding-right: 70px;
	display: block;
	
}

@media screen and (max-width:760px) { 
	.footer img {
		width: 50%;
		margin: 80px auto 0 auto;
		display: block;
	}
	.footer ul {
		margin: 80px 0 0 0;
		text-align: center;
		float: none;
	}
	.footer ul li {
		display: block;
	}
}
.photo_txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 30pt;
	color: white;
	text-transform: uppercase;
	text-shadow: 2px 2px 10px black;
	text-align: center;
}

.image-container:hover .overlay {
	opacity: 0.7;
}

.image-container:hover img {
	filter: blur(3px);
}
.overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 1s ease;
}
.overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18pt;
}
.overlay p a {
	color: #fff;
	text-decoration: none;
}
.gallery img:hover{
	filter: blur(5px);
}
#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    trainsition:background-position .3s;
}

#main {	
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 0px;
    font-size:30px;
}